.region-buttons {
    display: flex;
    justify-content: space-around;

    .region-button {
    background-color: whitesmoke;
    border: 1px solid black;
    height: 150px;
    width: 200px;
    }
}

// #poke-container {
//     display: flex;
// }